<!-- loads static files from django -->
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Load custom css stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- Skycons Weather Icons -->
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script src="{% static 'javascript/main.js' %}"></script>
    <!-- datetimepicker -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'javascript/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>


    <title>Dublin Bus</title>
  </head>
  <body>
    <div class="container-fluid">
        <!-- Sidebar -->
        <nav id="sidebar">
        <!-- Panel for displaying journey informations -->
        <div class="col-md-12">
            <!-- Back button -->
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
            <!-- sidebar-header-->
            <div class="sidebar-header">
                <h2>Journey Information</h2>
            </div>


            <!-- Form to enter start/end/date -->
            {% csrf_token %}
            <div id="journeyInput">
                <h3>From</h3>
                <div class="input-group col-md-10">
                    <input type="text" class="form-control" id="searchStart" onchange="setTimeout(calcRoute, 500)" value=""/><span class="input-group-addon" onclick="document.getElementById('searchStart').value = ''">&times;</span>
                </div>
                <h3>To</h3>
                <div class="input-group col-md-10">
                    <input type="text" class="form-control" id="searchEnd" onchange="setTimeout(calcRoute, 500)" value=""/>
                    <span class="input-group-addon" onclick="document.getElementById('searchEnd').value = ''">&times;</span>
                </div>
            </div>


            <!-- <div id = 'message'></div> -->

<!--            <div id = 'message'>Initial text</div>-->

            <div id = 'journeySummary'></div>

            <!--datetimepicker-->

            <div id="datetimepicker">
                <h3>Departure date</h3>
                <div class="input-group date form_datetime col-md-10" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input">
                    <input class="form-control" id="dateChosen" onchange="setTimeout(calcRoute, 500)" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
             </div>
            <!--datetimepicker-->
            
      


        <!-- TODO Fix post request -->
        <form method="post" id="journeyForm" name="journeyForm">
            <button type="submit" id="routebtn" name="start_id" value="Find Route" class="btn col-md-5 btn-lg" data-toggle="modal" data-target="#popWindow">Find Route</button>
            <input type="button" id="toggle" value="Toggle" class="btn col-md-5 btn-lg" onclick="toggleMarkers();"/>
        </form>

            

        <!-- pop up window -->
        <div class="modal fade" id="popWindow" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="false">
            <!-- /.modal-dialog -->
            <div class="modal-dialog" data-backdrop="static">
                <!-- /.modal-content -->
                <div class="modal-content" id="move">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Journey info
                        </h4>
                        <button type="button" class="close" data-dismiss="modal" 
                                aria-hidden="true">&times;
                        </button>
                        
                    </div>
                    <div class="modal-body" id="modalBody">
                       <div class="loader"></div> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" 
                                data-dismiss="modal">CLOSED
                        </button>
                        <button type="button" class="btn" data-dismiss="modal">
                            OK
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- pop up window -->



            <!-- twitter widget -->
            <div id="twitter" class="col-md-12">
                <a class="twitter-timeline" data-height="380" data-theme="dark" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        </nav>


        <!-- Main page -->
        <div id="content" class="container-fluid">
            <!-- Header (introduction) section -->
            <!-- Header title -->
            <div class="row">
                <div class="title col-sm-9 align-left">
                    <a href="/">  <img src="{% static 'images/logo1.png' %}" alt="site logo"></a>
                        <h1>Dublin <b>Bus</b></h1>
                        <button type="button" id="sidebarCollapse">
                        <i class="fa fa-search"></i>
                    </button>
                    <!-- Side bar button --> 
                </div>
            <!-- Weather widget -->
                <div id="weather" class="col-sm-3 align-right">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/53d35n6d26/dublin/" data-font="Times New Roman" data-icons="Climacons Animated" data-mode="Current" data-theme="original" data-basecolor="" data-textcolor="white" data-highcolor="#f0b917" data-lowcolor="#76b39d" data-mooncolor="#f0b917" data-cloudcolor="#b2d0e3" data-cloudfill="white" data-raincolor="white" >DUBLIN</a>
                </div>
            <!-- Weather widget -->
            </div>
            <!-- Google map -->
            <div id='map'></div>
            <!-- Google map -->
          <!-- Copyright -->
          <div class="footer">© 2018 Copyright: Team 14</div>
          <!-- Copyright -->
        </div>


        <!-- Footer -->
        
        <!-- Footer -->
</div>


<!--    <div class="overlay"></div>-->


     <!-- Main page -->
      
    <!-- Google Maps API -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMns2Y33xj53IYHDDwQQb5P-R2mi5nxQk&callback=initMap"></script> -->
<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>-->



    <div id="piechart"></div>

     <!-- Main page -->

    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMns2Y33xj53IYHDDwQQb5P-R2mi5nxQk&libraries=places&callback=initMap" async defer></script>
    <!-- Google Maps API -->

<!-- Sidebar -->   
<script type="text/javascript">
    $(document).ready(function () {

        $('#dismiss').on('click', function () {
            // hide sidebar
            $('#sidebar').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
            // open sidebar
            $('#sidebar').toggleClass('active');
        });
    });
</script>
<!-- Sidebar -->
      
<!--pop up window-->
<script type="text/javascript">
    var mouseStartPoint = {"left":0,"top":  0};
    var mouseEndPoint = {"left":0,"top":  0};
    var mouseDragDown = false;
    var oldP = {"left":0,"top":  0};
    var moveTartet ;
    $(document).ready(function(){
        $(document).on("mousedown",".modal-header",function(e){
            if($(e.target).hasClass("close"))
                return;
            mouseDragDown = true;
            moveTartet = $(this).parent();
            mouseStartPoint = {"left":e.clientX,"top":  e.clientY};
            oldP = moveTartet.offset();
        });
        $(document).on("mouseup",function(e){
            mouseDragDown = false;
            moveTartet = undefined;
            mouseStartPoint = {"left":0,"top":  0};
            oldP = {"left":0,"top":  0};
        });
        $(document).on("mousemove",function(e){
            if(!mouseDragDown || moveTartet == undefined)return;
            var mousX = e.clientX;
            var mousY = e.clientY;
            if(mousX < 0)mousX = 0;
            if(mousY < 0)mousY = 25;
            mouseEndPoint = {"left":mousX,"top": mousY};
            var width = moveTartet.width();
            var height = moveTartet.height();
            mouseEndPoint.left = mouseEndPoint.left - (mouseStartPoint.left - oldP.left);
            mouseEndPoint.top = mouseEndPoint.top - (mouseStartPoint.top - oldP.top);
            moveTartet.offset(mouseEndPoint);
        });
    });
</script>
<!--pop up window-->
      
<!--      fix-->
<!--
<script type="text/javascript">
$(function(){
    $(".container-fluid").width($(".container-fluid").width()+30);
});
</script>
-->
      <!--      fix-->


<!-- datetimepicker -->
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        weekStart: 0,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });
    $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });
    $('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });
</script>
<!-- datetimepicker -->
      
<!-- Weather widget -->
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<!-- Weather widget -->
      
  </body>
</html>
