{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- datetimepicker JavaScript -->
    <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
    <title>Dublin Bus</title>
</head>
<body>
    <!-- Page content -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #edd504;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
    </nav>
    <!-- Navbar -->
    <div class="content">
        <div id="top"></div>
        <!-- Header (introduction) section -->
        <header>
            <!-- Header title -->
            <div class="title">
                <!-- logo here -->
                <h1>Dublin Bus Predictions</h1>
            </div>
        </header>
	</div>
    <!--Journey info and map section -->
    <section id="info-map" class="container">
        <!-- Panel for displaying journey informations -->
        <div class="row clearfix">
          <div class="col-md-4 column">
            <div id="journey-info">
                <h2>Journey Information</h2>
            </div>
                <!-- <h1>The first dict is {{ buslist.0 }}</h1>
                <h1>The id of the 1000th dict is {{ buslist.1000.stopid }}</h1>
                <h1>The latitude of the 5000th dict is {{ buslist.5000.latitude }}</h1>-->
            <!-- Start&End Dropdown -->
            <div id ="options">
                <h3>Start</h3>
                <select id="selectstart" onchange="calcRoute();"></select>
            </div>
            <div id ="options">
                <h3>End</h3>
                <select id="selectend" onchange="calcRoute();"></select>
            </div>
        
            <!-- datetimepicker -->
            <div id="datetimepicker">
                <h3>DateTime</h3>
                <div class="input-group date form_datetime col-md-10" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input">
                    <input class="form-control" size="16" type="text" value="" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
				<input type="hidden" id="dtp_input1" value="" /><br/>
            </div>
              
              
            <!-- Find route -->
            <input type="button" id="routebtn" value="Find Route" onclick="drawRoute();"/>
              
              
            <!-- Twitter widge to do -->
            <div id="twitter">
                <div><h3>Twitter widge</h3></div>
                <a class="twitter-timeline" data-lang="en" data-height="400" href="https://twitter.com/dublinbusnews?ref_src=twsrc%5Etfw">Tweets by dublinbusnews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                
            </div>
              
              
              
            <!-- Weather widge to do -->
            <div id="weather">
                <div><h3>Current weather</h3></div>
                <div id="weather-descript" class="descript center-align"></div>
            </div>
        </div>
            
            <!-- Google map -->
            <div class="col-md-8 column">
                <div id='map'></div>
            </div>
        </div>
        
    </section>   


    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5 mt-4">

      <div style="background-color: #edd504;">
        <div class="container">

          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">

            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">

              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fa fa-facebook white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fa fa-twitter white-text mr-4"> </i>
              </a>
              <!-- Google +-->
              <a class="gplus-ic">
                <i class="fa fa-google-plus white-text mr-4"> </i>
              </a>
              <!--Linkedin -->
              <a class="li-ic">
                <i class="fa fa-linkedin white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fa fa-instagram white-text"> </i>
              </a>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row-->

        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">

          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">Company name</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Products</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="dark-grey-text" href="#!">MDBootstrap</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">MDWordPress</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">BrandFlow</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="dark-grey-text" href="#!">Your Account</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Become an Affiliate</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Shipping Rates</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Help</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fa fa-envelope mr-3"></i> info@example.com</p>
            <p>
              <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
            <p>
              <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
        <a class="dark-grey-text" href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    
    <!-- Main Javascript -->
    <!-- buslist -->
     <script>
    	var buslist = {{ buslist|safe }}
    	console.log(buslist)
    	console.log(buslist[5].stopid)
    	console.log(buslist[5].latitude)
    	console.log(buslist[5].longitude)

    	for (var i=0; i < buslist.length; i++) {
           //console.log(buslist[i]['latitude'], buslist[i]['longitude'])
           $('#selectstart').append('<option value=' + buslist[i]['latitude'] + ',' + buslist[i]['longitude'] + '>' + buslist[i]['stopid'] + '</option>')
           $('#selectend').append('<option value=' + buslist[i]['latitude'] + ',' + buslist[i]['longitude'] + '>' + buslist[i]['stopid'] + '</option>')
           //console.log(selectstart.value);
       }
    </script>

    <!-- Dropdown -->
    <script>
    $(".dropdown-menu li a").click(function(){
      $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    });
    </script>
    
    <!-- datetimepicker -->
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            weekStart: 0,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('.form_date').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
        $('.form_time').datetimepicker({
            language:  'fr',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 1,
            minView: 0,
            maxView: 1,
            forceParse: 0
        });
    </script>
    
    <!-- Current weather -->

    <!-- Google Map -->

    <script>
        function initMap() {
            directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer();
            
            var myLatLng = {
                lat: 53.349976,
                lng: -6.260354
            };
            var mapProp = {
                center: new google.maps.LatLng(53.349976, -6.260354),
                zoom: 11,
            };
            var map = new google.maps.Map(document.getElementById("map"), mapProp);
            directionsDisplay.setMap(map);

            var markerStart = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Start',
                draggable: true
            });

            var markerEnd = new google.maps.Marker({
            	position: myLatLng,
            	map: map,
            	title: 'Finish',
            	draggable: true
            });

            google.maps.event.addListener(markerStart, 'dragend', function(evt){
                document.getElementById('test1').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
            });

            google.maps.event.addListener(markerEnd, 'dragend', function(evt){
                document.getElementById('test1').innerHTML = '<p>Marker dropped: Current Lat: ' + evt.latLng.lat().toFixed(3) + ' Current Lng: ' + evt.latLng.lng().toFixed(3) + '</p>';
            });
        }
        
        function calcRoute() {
              var start = document.getElementById('selectstart').value;
              var end = document.getElementById('selectend').value;
              var request = {
                origin: start,
                destination: end,
                travelMode: 'TRANSIT',
                transitOptions: {
                    modes: ['BUS'],
                    routingPreference: 'FEWER_TRANSFERS'
                }
              };
              directionsService.route(request, function(result, status) {
                if (status == 'OK') {
                  directionsDisplay.setDirections(result);
                }
              });
            }

    </script>

    
      
    <!-- Main JavaScript -->
    <script src="{% static 'js/siteScript.js' %}" type=text/javascript></script>
    <!-- Google maps script -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMns2Y33xj53IYHDDwQQb5P-R2mi5nxQk&callback=initMap"></script>


  </body>
</html>
