
/*Various @media media for mobile phones*/
 
@media only screen and (max-width:320px)and (max-width:359px){
    h1{
        font-size: 1.8rem;
    }

    #logo{
        height: 35px;
        margin-top: -25px;
    }
 
    #sidebarCollapse{
        font-size: 1.8rem;
        width: 40px;
        height: 40px;
    }
    
    #sidebarCollapse:hover{
        width: 40px;
    }

    #weather{
        height: 40px;
        top: -40px;
        position: relative;
    }
    
    #map{
        height: 70vh;
    }   
}

@media only screen and (min-width:320px) and (max-width:416px){
    #sidebar .sidebar-header {
        margin-top:10px;
        height: 12vh;
    }

}

@media only screen and (min-width:768px) and (max-width:1024px){
    #map{
        height: 90vh;
    } 
}

@media only screen and (max-width:767px){
    #piechart{
        display: none;
    }
    #sidebar {
        width: 100vw;
        margin-left: -100vw;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #annotation{
        margin-left: 75vw;
        margin-top: 8vh;
    }
    #weather{
        height: 40px;
        top: -40px;
        position: relative;
    }
}