h1,h2,h3 {
	color: white;
	font-weight: bold;
}

body {
    font-family: 'Poppins', sans-serif;
    background: black;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: black;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.wrapper {
    display: block;
    width: 100%;
    position: relative;
    align-items: stretch;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 400px;
    position: fixed;
    top:0;
    left:-400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.3s;
    color:white;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* top layer */
    z-index: 999;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #f0b917;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
}
#sidebarCollapse{
    z-index: 99;
}


#searchStart, searchEnd{
    z-index: 9999;
    position: relative;
}
#content {
    background-color: black; 
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    
}

#map {
	height: 100vh;
	width: 100%;
    position: relative; 
    z-index: 99;
    top: 0px;
    left: 0px;
}

#weather {
    position:absolute; 
    z-index:99999;
    top:20vh；
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -500px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}