h1,h2,h3,h4 {
	color: #fff;
	font-weight: bold;
}

h1{
    display: inline;
    vertical-align: top;
    padding:0 20px;
    line-height: 96px;
    font-size: 2.2rem;
}

h2{
    display: inline;
    font-size: 1.5rem;
    color: #f9f8eb;
}

h3,h4{
    color: #f9f8eb;
}

b{
    color: #f0b917;
}

p{
/*    font-size: 1rem;*/
    color: #f9f8eb;
}

body {
    font-family: 'Poppins', sans-serif;
}

body,
html {
    background-color: rgba(0, 0, 0, 0.2);
}

.btn{
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover{
    background-color: #f0b917;
    color: #f0b917;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    display:inline-block;
    width: 380px;
    position: fixed;
    top:0;
    left:-380px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.3s;
    color:white;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* top layer */
    z-index: 999;
}

#sidebar.active {
    left: 0;
}

.wrapper{
    padding: 15px;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #f0b917;
    width: 35px;
    height: 35px;
}


#sidebar .sidebar-header {
    padding: 30px;
    background: black;
    height: 15vh;
    top:10vh;
    text-align: center;
}

#journeyInput{
    color: black;
}

/*
#change{
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

#change img{
    height: 30px;
    width: 30px;
    z-index: 99999;
    display: block;
}
*/
/*

#transfer{
    background-color: rgba(0, 0, 0, 0);  
}

#transit{
    width: 20px;
    height: 20px;
}
*/
#end{
    margin-top:20px;
}

#datetimepicker{
    color: black;
    margin-top:20px;
}

#journeyForm{
    top:5px;
    position: relative;
}

#twitter{
    top:1vh;
    position: relative;
    margin-top: 20px;
}
/* ---------------------------------------------------
    popWindow
----------------------------------------------------- */

#popWindow{
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 999999;
}

.modal-header .close{
    color: #fff;
}

#move{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

#modal{
    color: white;
}


/* ---------------------------------------------------
    MAIN PAGE
----------------------------------------------------- */

#content {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

#logo{
    height: 45px;
    text-align:center;
    display: inline;
    margin-top: -30px;
}

#sidebarCollapse{
    color: #f0b917;
    font-size: 35px;
    border: 1px;
    border-radius: 15px;
    border-bottom-color: white;
    cursor: pointer; 
    display: inline;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#sidebarCollapse:hover{
    background-color: #fff;
    color: #f0b917;
    width: 50px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#map {
	height: 80vh;
	width: 100%;
    position: relative; 
    z-index: 99;
    top: 0px;
    left: 0px;
    border: 3px solid #f0b917;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

#weather {
    width: 221px;
    height: 40px;
    float: right;
}

#annotation{
    z-index: 998;
    position: absolute;
    color: #000;
    margin-left: 90vw;
    margin-top: 20vh;
}
#annotation img{
    height: 35px;
    width: 35px;
    display: inline;
    margin-bottom: -20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}




/* Spinning loader in popWindow */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #f0b917; /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#realTimeInfo {
    color: white;
}

#buserrorpic {
    height: auto;
    width: 100%;
    border: solid 1px white;
    border-radius: 2px;
}