h1,h2,h3,h4 {
	color: #fff;
	font-weight: bold;
}

.title{
    vertical-align: middle;
    display: inline;
    float:left;
    padding: 5px;
    width: 100vh;
}

.header{
    top: 10px;
}

img{
    height: 45px;
    text-align:center;
    display: inline;
    margin-top: -30px;
}

h1{
    display: inline;
    vertical-align: top;
    padding:0 20px;
    line-height: 96px;
    font-size: 2.2rem;
}

h2{
    display: inline;
    font-size: 1.5rem;
}

h3{
    font-size: 1rem;
}

b{
    color: #f0b917;
}

body {
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
    width: 100%;
}

.container-fluid {
    display: block;
    width: 100%;
    position: relative;
    align-items: stretch;
}

.btn{
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
}

.btn:hover{
    background-color: #f0b917;
    color: #f0b917;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 60vh;
    position: fixed;
    top:0;
    left:-60vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.3s;
    color:white;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* top layer */
    z-index: 999;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #f0b917;
    width: 35px;
    height: 35px;
}


#sidebar .sidebar-header {
    padding: 30px;
    background: black;
    height: 15vh;
    top:10vh;
}

#journeyInput{
    color: black;
}

#datetimepicker{
    color: black;
}

#popWindow{
/*    background-color: rgba(0, 0, 0, 0.7); */
}

#move{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
#modal{
    color: white;
}
#twitter{
    top:1vh;
    position: relative;
    width: 55vh;
}

/* ---------------------------------------------------
    MAIN PAGE
----------------------------------------------------- */

#content {
    background-color: rgba(0, 0, 0, 0.7); 
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    
}

#sidebarCollapse{
    color: #f0b917;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px;
    border-radius: 15px;
    border-bottom-color: white;
    cursor: pointer; 
    display: inline;
    width: 50px;
    height: 50px;
    text-align: center;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#sidebarCollapse:hover{
    background-color: #fff;
    color: #f0b917;
    width: 50px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}


/*
#popWindow{
    width: 60vh;
    position: absolute;
    top:45vh;
    overflow: auto;
    overflow-y: auto;   
}
*/

#map {
	height: 82vh;
	width: 100%;
    position: relative; 
    z-index: 99;
    top: 0px;
    left: 0px;
}

#weather {
    position: relative; 
    width: 221px;
    height: 70px;
    top: -5px;
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -100vh;
        height: 120vh;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #popWindow{
        width: 58vh;
        position: fixed;
        top: 55vh;
    }
    #weather{
        top: -5vh;
        float: right;
        width: 221px;
    }
    .container-fluid {
        display: block;
        width: 100%;
        position: relative;
        align-items: stretch;
    }

}